/* TODO: Have a base card class and apply modifications */

.concealed-card {
  background-color: rgba(195, 174, 243, 0.959);
  flex-grow: 1;
  padding: 35px 60px;
  margin: 4px;
}

.revealed-card {
  background-color: rgba(195, 174, 243, 0.959);
  flex-grow: 1;
  padding: 35px 60px;
  margin: 4px;
  font-family: sans-serif;
  font-weight: bold;
}

.removed-card {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  padding: 35px 60px;
  margin: 5px;
  outline: none;
  border: none;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-title {
  order: 0;
}

.game-info {
  order: 2;
  margin: 48px;
}

.game-deck {
  flex-grow: 1;
  order: 1;
  margin: 48px;
}
