/* TODO: Have a base card class and apply modifications */

.card {
  position: relative;
  background-color: rgba(195, 174, 243, 0.959);
  margin: 4px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 10%;
  width: 20%;
  padding: 0;

  .card_content {
    position: absolute;
    display: block;
    width: 100%;
    padding-top: 40%;
  }
}

.card::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card--removed {
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-title {
  order: 0;
}

.game-info {
  order: 2;
  margin: 48px;
}

.game-deck {
  order: 1;
  margin: 48px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
