.App {
  text-align: center;
}

.header_logo {
  max-height: 10vh;
  pointer-events: none;
  flex-basis: 10vw;
}

.header_title {
  flex-basis: 90vw;
}

@media (prefers-reduced-motion: no-preference) {
  .header_logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  background-color: #282c34;
  height: 100vh;
  max-width: 10vw;
  display: flex;
}

.nav_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav_list_item:first-child {
  padding-top: 24px;
  padding-bottom: 12px;
}
.nav_list_item {
  color: white;
  padding: 12px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
