.menu {
  order: 1;
  flex-basis: 20%;
  background-color: #282c34;
  height: 100vh;
  color: white;

  > * {
    padding-left: 12px;
    padding-right: 12px;
  }

  .nav_list {
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;
    }

    .nav_list_item {
      padding: 12px 0px;
    }
  }

  .nav_list_item:first-child {
    padding-top: 24px;
    padding-bottom: 12px;
  }
}
